<a href="https://colab.research.google.com/github/Sushila-Phogat/Teachnook-Assignments/blob/main/Assignment2%20/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List Functions

###Append()

In [1]:
months = ['January', 'February', 'March'] 
months.append('April') 
print(months)

['January', 'February', 'March', 'April']

###extend()

In [29]:
months = ['January', 'February', 'March'] 
months.extend(['April','May','June']) 
print(months)

['January', 'February', 'March', 'April', 'May', 'June']

###index()

In [30]:
months.index('March')

2

In [33]:
months.append('March')
print(months)
months.index('March',2,8)

['January', 'February', 'March', 'April', 'May', 'June', 'March', 'March', 'March']

2

###len(), max() & min()

In [5]:
num = [589.36, 237.81, 230.87, 463.98, 453.42] 
print(len(num),max(num),min(num))

5 589.36 230.87

###clear()

In [6]:
months = ['January', 'February', 'March', 'April', 'May'] 
months.clear()
print(months)

[]

###insert()

In [13]:
months.insert(2,'December')
months.insert(2,'January')
print(months)

['December', 'December', 'January', 'December']

###count()

In [14]:
months.count('December')

3

###pop()

In [15]:
months.pop(2)
print(months)

['December', 'December', 'December']

###remove()

In [18]:
months.insert(2,'Feburary')
print(months)
months.remove('December')
print(months)

['December', 'Feburary', 'Feburary', 'December']
['Feburary', 'Feburary', 'December']

###reverse()

In [21]:
fruits = ['apple', 'banana', 'cherry', 'orange', 'pineapple']
fruits.reverse()
fruits

['pineapple', 'orange', 'cherry', 'banana', 'apple']

###copy()

In [22]:
fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

In [23]:
x.insert(1,'kiwi')
print(fruits)
print(x)

['apple', 'banana', 'cherry', 'orange']
['apple', 'kiwi', 'banana', 'cherry', 'orange']

In [24]:
fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits
print(x)

['apple', 'banana', 'cherry', 'orange']

In [25]:
x.insert(1,'kiwi')
print(fruits)
print(x)

['apple', 'kiwi', 'banana', 'cherry', 'orange']
['apple', 'kiwi', 'banana', 'cherry', 'orange']

#Tuple

###unpacking

In [34]:
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
a,b,c =my_tuple
print(a,b,c)

mouse [8, 4, 6] (1, 2, 3)

###Immutability

In [35]:
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5])

my_tuple[1] = 9
print(my_tuple)

TypeError: ignored

In [36]:
my_tuple[3][0] = 9  
print(my_tuple)

(4, 2, 3, [9, 5])

###Delete a tuple

In [37]:
# Deleting tuples
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

# can't delete items
del my_tuple[3]

TypeError: ignored

In [38]:
# Can delete an entire tuple
del my_tuple

# NameError: name 'my_tuple' is not defined
print(my_tuple)

NameError: ignored

###count() & index()

In [41]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p')) 
print(my_tuple.index('l')) 
print(my_tuple.index('p',2,4))

2
3
2

#Dictionary

###Accessing the Dictionary

In [56]:
capitals = {"USA":"Washington DC", "France":"Paris", "India":"New Delhi"}
capitals["USA"]

'Washington DC'

In [57]:
capitals.items()

dict_items([('USA', 'Washington DC'), ('France', 'Paris'), ('India', 'New Delhi')])

In [58]:
capitals.keys()

dict_keys(['USA', 'France', 'India'])

In [43]:
capitals["usa"]  # Error: Key is case-sensitive

KeyError: ignored

In [44]:
capitals["Japan"] # Error: key must exist

KeyError: ignored

###Accessing without error with get

In [45]:
capitals.get("USA")

'Washington DC'

In [46]:
capitals.get("usa")

In [47]:
capitals.get("Japan")

###Update & Add in dictionary

In [48]:
capitals['India']='Delhi'

In [49]:
capitals['UK']='London'
print(capitals)

{'USA': 'Washington DC', 'France': 'Paris', 'India': 'Delhi', 'UK': 'London'}

###Del items from Dict

In [50]:
del capitals['UK']
print(capitals)

{'USA': 'Washington DC', 'France': 'Paris', 'India': 'Delhi'}

In [51]:
del capitals
print(capitals)

NameError: ignored

###clear()

In [52]:
capitals = {"USA":"Washington DC", "France":"Paris", "India":"New Delhi"}
print(capitals)
capitals.clear()
print(capitals)

{'USA': 'Washington DC', 'France': 'Paris', 'India': 'New Delhi'}
{}

###Deep and Shallow Copy

In [53]:
romanNums = {'I':1, 'II':2, 'III':3, 'IV':4, 'V':5 }
newRomanNums = romanNums.copy()
print("Original dictionary: ",romanNums)
print("Copied dictionary: ",newRomanNums)
del newRomanNums['V'] # deleting 'V'
print("Original dictionary: ",romanNums)
print("Copied dictionary: ",newRomanNums)

Original dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
Copied dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
Original dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
Copied dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': 4}

In [54]:
romanNums = {'I':1, 'II':2, 'III':3, 'IV':4, 'V':5 }
newRomanNums = romanNums
print("Original dictionary: ",romanNums)
print("Copied dictionary: ",newRomanNums)
del newRomanNums['V'] # deleting 'V'
print("Original dictionary: ",romanNums)
print("Copied dictionary: ",newRomanNums)

Original dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
Copied dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
Original dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': 4}
Copied dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': 4}

###fromkeys()

In [55]:
nums = (1, 2, 3, 4, 5) # tuple to dict
val = 'Numbers'
numDict = dict.fromkeys(nums, val)
print(numDict)

{1: 'Numbers', 2: 'Numbers', 3: 'Numbers', 4: 'Numbers', 5: 'Numbers'}

###pop()

In [59]:
romanNums = {'I':1, 'II':2, 'III':3, 'IV':4, 'V':5 }
deletedValue = romanNums.pop('V')
print("The popped element is: ", deletedValue)
print("Updated dictionary: ",romanNums)

The popped element is:  5
Updated dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': 4}

In [60]:
romanNums = {'I':1, 'II':2, 'III':3 }
print(romanNums.popitem())
print(romanNums.popitem())
print(romanNums.popitem())
print(romanNums)

('III', 3)
('II', 2)
('I', 1)
{}

###setdefault()

In [61]:
romanNums = {'I':1, 'II':2, 'III':3}
value = romanNums.setdefault('IV')

print("The return value is: ",value)
print("Updated dictionary: ",romanNums)

The return value is:  None
Updated dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': None}

###update()

In [64]:
romanNums.update(IV=4)
print("Updated Dictionary: ",romanNums)

Updated Dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': 4}

###values()

In [65]:
romanNums.values()

dict_values([1, 2, 3, 4])